
h2 {
    padding: 0 1em;
    font-size: 2.7rem;
    padding-bottom: .8em;
    margin: 0 -1em;
    font-family: 'Parisienne', cursive;
    font-weight: lighter;

}

h2 span {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.3rem;
    font-weight: normal;
    color: skyblue;
    display: block;
    position: relative;
    padding: .5em;
    z-index: 1;
}

h2 span::before {
    content: '';
    position: absolute;
    width: 8.5em;
    background-color: skyblue;
    height: 0.02em;
    bottom: 0.5em;
    z-index: -1;
    margin: -.3em;
}

.p1 {
    font-weight: lighter;
    color: #131313;
    font-size: 1.8em;
    margin: 0;
    padding: 0;
}
.p2 {
    margin-top: 3.8em;
}
.p3 {
    margin: 1em 0;
}
.p4 {
    font-family: 'Parisienne', cursive;
    font-weight: normal;
    font-size: 1.9em;
    padding-top: 1.3em;
    margin: 1em 0;
}

@media (min-width: 930px) {
    .right-col {
        padding-right: 8em;
    }
}

.h2 {
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-2em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}