
h2 {
    font-family: 'Parisienne', cursive;
    position: relative;
}

h2::before {
    content: '';
    position: absolute;
    width: 10.1em;
    background-color: skyblue;
    height: 0.02em;
    bottom: 0.2em;
    z-index: -1;
    margin: -.3em;
}

.smokeOverlay {
  position: relative;
  background-image: url(../images/undertow.png);
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  z-index: 1;
  padding: 0 0 0;
  margin: auto;
  display: block;
  background-position: 50% 83%;

}


/* Responsive Gallery */
section.gallery {
    justify-content: center;
    margin: 0;
    padding: 0 0 0;
}

.colorOverlay {
  position: absolute;
  overflow: hidden;
  height: 0;
  justify-content: center;
  background-image: url(../images/FiligreeColour.webp);
  background-position: 50% 93%;
  background-size: cover;
  padding-top: 28.19em;
  width: 100%;
  background-repeat: no-repeat;
  place-content: center;
  z-index: 1;
  transition: none;
  opacity: 0;

}

.galleryHeader {
  opacity: 1;
  display: block;
  justify-content: center;
  background-image: url(../images/FiligreeColour.png);
  background-position: 50% 93%;
  background-size: cover;
  padding-top: 16em;
  width: 100%;
  border: none;
  margin: auto;
  background-repeat: no-repeat;
}

.galleryTitle {
  color: #131313;
  text-align: center;
  font-family: 'Parisienne', cursive;
  font-size: 3.5em;
  padding-bottom: 2em;
}

#filigree {
  filter: none;
  min-width: 70%;
  display: block;
  margin: auto;
  transform: rotate(180deg);    
}

#filigree:hover {
  cursor: initial;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 2em 4px;
    margin: 0;
    justify-content: center;

  }
  
  /* Create four equal columns that sit next to each other */
  .column {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    max-width: 30%;
    padding: 0 4px;

  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: .8em;
    cursor: pointer;
    filter: grayscale(100%);
  }

  .column p {
    border-style: solid;
    border-width: .5px;
  }

  .column img:hover {
    filter: none;
  }

  /* CSS for modal ---------------------------------- */
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 1em; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    margin-bottom: 2em;
    padding-bottom: 3em;
  }
  
  /* Caption of Modal Image */
  #captionTitle {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: skyblue;
    font-family: 'Parisienne', cursive;
    font-size: 2.5em; 
    padding-bottom: .5em;
  }

  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 1.3em;
    padding-bottom: 1.8em;
  }
  
  /* Add Animation */
  .modal-content {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 30px;
    top: 0;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  /* above this line CSS for modal ----------------------------------------------- */
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

@media (min-width: 930px) {
    h2 {
        margin: 0;
    }
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-2em);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

