/*  Phrase ideas: 
    Meet the Maker: Marika Klara Hokhold
    Creative Cuts: Wildly Wicked Ensemble for a Whisp of a Witch
    The Advent of the Alice Automata
    
    
*/

@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Josefin+Slab:wght@200;600&family=Montserrat:wght@100;200;400&family=Parisienne&display=swap');

/* Custom Properties */

:root {
    --leading: 2em;
    --secondaryColor: #131313;
}

/* Everything within curly braces {} is called a "rule set". */

body {
    font-family: 'Montserrat', sans-serif;
    color: #131313;
    margin: 0;
}

.hero-bg {
    background: #131313 url('../images/Eiffel1.png');
    background-position: 50% 83%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    text-align: center;
    padding: 0 0 4em;
    margin: 0;
}

header {
    padding: 1em 0;
}

.navbar {
    background-color: skyblue;
    margin: 0;
    padding: .2em 1em;
}

.logo {
    text-decoration: none;
    font-family: 'Parisienne', cursive;
    color: white;
    font-size: 1.4rem;
}

.logo span {
    font-family: 'Montserrat', sans-serif;
    color: var(--secondaryColor);
    font-weight: normal;
}

nav {
    display: none;
    position: fixed;
    z-index: 999;
    width: 50%;
    right: 0;
    top: 0;
    background: rgba(135,206,235, .9);
    height: 100vh;
    padding: 1em;
    text-align: right;
}

.container {
    display: flex;
    place-content: space-between;
}

nav.menu-btn {
    display: block;
}

/* Adding images to a div makes them easier to edit. */
.img-menu-cta {
    width: 5%;
    cursor: pointer;
}

.img-menu-exit {
    float: right;
    margin: .5em;
    cursor: pointer;
    width: 10%;
}

nav ul {
    list-style-type: none;
    margin-top: 5em;
    padding: 0;
}

nav ul li a{
    color: white;
    text-decoration: none;
    display: block; /* This is required for hyperlink elements, if you want to adding padding or margins! */
    padding: 1em;
    font-size: 1.3em;
    text-align: right;
}

nav ul li a:hover{
    font-weight: bold;
}

section {
    margin: 0 1em;
}

h1 {
    font-size: 3rem;
    padding: 0 .5em 0 .5em;
    margin: 1em -1em;
    font-family: 'Parisienne', cursive;
    font-weight: lighter;
    background-color: rgba(19,19,19, .5);
}

h1 span {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
    color: skyblue;
    display: block;
    position: relative;
    padding: .5em;
    z-index: 1;
}

h1 span::before {
    content: '';
    position: absolute;
    width: 8.7em;
    background-color: skyblue;
    height: 0.02em;
    bottom: 0.5em;
    z-index: -1;
    margin: -.3em;
}

.hero-bg p {
    font-weight: bold;
    margin: 0 1em 2em;
}

.form-container {
    margin: 2em -1em 0;
    padding: 2em 1em 1em;
}

label {
    font-family: 'Parisienne', cursive;
    background-color:  rgba(19,19,19, .5);
    border-radius: 3em;
    color: skyblue;
    font-weight: normal;
    display: block;
    margin-bottom: .5em;
    font-size: 2em;
}

input[type=text] {
    border: 1px solid #707070;
    width: 100%;
    padding: .4em 0;
    border-radius: 3em;
    font-size: 1.2em;
    text-align: center;
    outline: none;
}

input[type=button] {
    font-family: 'Montserrat', sans-serif;
    background-color: skyblue;
    color: white;
    border: 1px solid skyblue;
    width: 100%;
    letter-spacing: .11em;
    padding: .4em 0;
    border-radius: 3em;
    font-size: 1.2em;
    cursor: pointer;
    margin: 1em 0;
    outline: none;
}

input[type=button]:hover {
    background-color: white;
    color: skyblue;
    opacity: 87%;
}

.bottom {
    margin: 0;
}

.right-col {
    text-align: center;
    margin: 3em 1em;
    padding: 2em;
}



img {
    width: 100%;
}

p {
    line-height: var(--leading);
}

/* overlay to fade in on click */
.overlay {
    position: absolute;
    height: 150vh;
    width: 100%;
    background: rgba(0,0,0,.9);
    z-index: 1;
    place-content: center;
    color: white;
    display: none;
    opacity: 0;
}

.overlay h3 {
    font-family: 'Parisienne', cursive;
    font-size: 2.5em;
    font-weight: lighter;
    color: skyblue;
}

.animate-overlay {
    animation: overlay 3s forwards;
}


@media (min-width: 626px) {

    h1 {
        font-size: 3.5rem;
    }
    .img-menu-cta, .img-menu-exit {
        display: none;
    }
    .navbar .container {
        display: grid;
        grid-template-columns: 180px auto;
    }
    .navbar nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;
    }
    ul {
        display: flex;
    }

    nav ul li a{
        margin: 0;
        font-size: .9em;
        padding: .5em 1em;
    }
    nav ul {
        margin: 0;
    }

    .form-container {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
  

    }
    


    
    
}

@media (min-width: 930px) {
    section {
        margin: 0 6em;
    } 
    .img-menu-cta {
        width: 2%;
    }   
    .img-menu-exit {
        margin: .5em;
        width: 7%;
    }
    .hero-bg {
        text-align: left;
    }
    .hero-bg p {
        margin: 0 0 3em;
        padding-right: 1em;
    }
    .hero-bg section {
        width: 50%;
    }
    h1 {
        font-size: 3.5em;
        margin: .7em 0 1em;
        border-radius: .5em;  
        padding: 0;   
    }
    h1 span {
        font-size: 2.7rem;
    }
    .form-container {
        margin: 2em -4em 2em 0;
        padding: 1em 1em 1em 1em;
        border-radius: .5em;
    }

    /* Research flex box and grids in css. */
    form {
        display: block;
        
    }
    .form-left {
      
    }
    label {
        margin: 0;
        font-size: 1.8em;
        margin-bottom: .5em;
    }
    input[type=text] {

    }
    input[type=button] {

    }
    .hero-bg p {
        margin-bottom: 0;
        width: 80%;
    }

    section.bottom {
        display: grid;
        grid-template-columns: repeat(2,50%);
        grid-template-areas: 
            "portrait content";
    }

    .right-col {
        grid-area: content;
        text-align: left;
    }

    .p1 {
        color: blueviolet;
        margin: 3em 0;
    }


    .imageBox {
      /*  position: relative;
        display: grid; */
        grid-area: portrait;
        position: sticky;
        position: -webkit-sticky;
        height: 100vh;
        width: 50vw;


        top: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;

       
    }

    .versailles {
        position: relative;
        display: flex;
        height: 100vh;
    }

    .versailles img {
        object-fit: contain;
    }

    .doll {
        position: absolute;
        display: flex;
        height: 100vh;
        opacity: 0;
        
    }

    .doll img {
        object-fit: contain;
    }



}

@media (min-width: 1350px) {

    .form-container {
        width: 50%;
    }
}

.top {
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-2em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes overlay {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}